<div class="ui clearing segment question" id="q-{{id}}">
  <input name="surveys[questions_attributes][][id]" type="hidden" value="{{id}}">
  <input name="surveys[questions_attributes][][_destroy]" type="hidden" value="false">
  <div class="field {{text_error_class}}">
    <label>質問</label>
    <input name="surveys[questions_attributes][][text]" placeholder="質問" type="text" value="{{text}}">
  </div>
  <div class="field">
    <label>画像</label>
    <input type="file" name="surveys[questions_attributes][][image]">
  </div>
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <img src="{{image.url}}" class="ui image fluid">
    </div>
    <div class="four wide column"></div>
  </div>
  <div class="field">
    <label>回答パターン</label>
    <select name="surveys[questions_attributes][][type]">
      {{#select type}}
      <option value="single">選択肢（1つ）</option>
      <option value="multiple">選択肢（複数）</option>
      <option value="date">日程調整</option>
      <option value="free">フリーフォーマット</option>
      {{/select}}
    </select>
  </div>
  {{#each value_data}}
    {{> survey/_single}}
  {{/each}}
  {{#each value_data}}
    {{> survey/_multiple}}
  {{/each}}
  <div class="field single multiple">
    <input type="hidden" name="surveys[questions_attributes][][value]">
  </div>
  <div class="add-a-pos"></div>
  <div class="field single">
    <div class="ui default fluid button add-a">
      <i class="plus icon"></i> 選択肢追加
    </div>
  </div>
  <div class="field multiple" style="display: none;">
    <div class="ui default fluid button add-a">
      <i class="plus icon"></i> 選択肢追加
    </div>
  </div>
  <div class="field {{value_error_class}} date" style="display: none;">
    <label>値</label>
    <textarea name="surveys[questions_attributes][][value]">{{value}}</textarea>
  </div>
  <div class="field">
    <div class="ui right floated red basic button del-q" data-id="{{id}}">
      <i class="trash outline icon"></i> 削除
    </div>
  </div>
</div>
